.forma{
    max-width: 80%;
    margin: 15px auto;
    margin-top: 100%;
    border: 3px double rgb(226, 111, 111);
    border-radius: 150px 0 150px 0;
    overflow: hidden;
    background-color: bisque;
}
.forma_1{
    max-width: 80%;
    margin: 15px auto;
    margin-top: 30px;
    border: 3px double rgb(226, 111, 111);
    border-radius: 150px 0 150px 0;
    overflow: hidden;
    background-color: bisque;
}
.hello{
    max-width: 60%;
    padding: 20px;
    background-color: rgb(245, 234, 132);
    margin: 0 auto;
    text-align: center;
    font-size:20px;
    border-radius:20%;
    border: 10px double rgb(226, 111, 111);
}
.moscow{
    max-width: 80%;
    background-color: rgb(176, 203, 226);
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    border: 10px double rgb(245, 245, 175);
    border-radius: 20px 0 20px 0;
}
.form_size{
    max-width: 80%;
    margin: 0 auto;
}
body{
    background: url(https://i.ytimg.com/vi/e-VRyXzScCw/maxresdefault.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.again_1{
    margin-bottom: 15px;
    background-color: antiquewhite;
}
.block_in{
    margin-top: 20px;
    max-width: 100%;
    margin-bottom: 20px;
    display: inline-flex;
}
.card{
    max-width: 100%;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}
.slaid_love_politech{
    margin-top: 30px;
}
.block_text_poi{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    font-size: 20px;
    border: 10px double blanchedalmond;
    text-shadow: 2px 3px 3px rgb(109, 101, 92);
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}
.infa_imp{
    margin:30px 0;
}
.important{
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration:underline ;
    padding: 20px;
    border: 10px double black;
    border-radius: 150px 0 150px 0;
}
.accordion-body{
    text-indent: 20px;
}
.vkladka{
    background-color:rgb(224, 224, 176);
    margin-bottom: 20px;
}
.decision{
    max-width:80%;
    margin: 0 auto;
}
.decision_1{
    background: rgb(54, 188, 197);
    text-align: center;
    margin: 0 auto;
}
.button_decision{
    max-width: 20%;
    margin: 0 400px;
    display: inline-flex;
    padding: 0 20px
}
.sending{
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    background: beige;
    border: 10px double black;
    border-radius: 150px 0 150px 0;
    font-size: 30px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgb(134, 133, 133);
}